body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 20vw;
    border-radius: 0.5rem;
    border: 0.5px solid lightseagreen;
}

.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 50%;
    padding: 1rem;
    margin-bottom: 2rem;
}

button {
    width: 60%;
    padding: 1rem;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.username {
    font-weight: bold;
    color: lightseagreen;
    position: absolute;
    top: 2rem;
    right: 2rem;
}