.navbar {
    height: 3rem;
    width: 100%;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: relative;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.icons{
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
}

.counter{
    width: 0.3rem;
    height: 0.3rem;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -5px;
}

.notifications {
    position: absolute;
    top:50px;
    right:0;
    background-color: white;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.notification {
    padding: 5px;
    font-style: 14px;
}

.nButton {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
  }